/* colors */
$color-gray-primary: #475569;
$color-gray-primary-dark: #1e293b;
$color-gray-secondary: #cbd5e1;
$color-gray-light: #f1f5f9;
$color-gray-dark: #020617;
$color-blue-light: #dbeafe;
$color-blue: #93c5fd;
$color-blue-dark: #0284c7;
$color-green-light: #d1fae5;
$color-red-light: #fee2e2;

/* space */
$space-half-x: 0.5rem;
$space-one-x: 1rem;
$space-two-x: 2rem;
$space-four-x: 4rem;
